* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: #081b31;
    color: white;
}

.choice{
    height: 105px;
    width: 105px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.choices {
    display: flex;
    gap: 3rem;
    justify-content: center;
    margin-top: 5rem;
}
.choice:hover{
    opacity: 75%;
    cursor: pointer;
    background-color: #081b31;
}
.scoreBoard{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
.msgContainer
{
    margin-top: 5rem;
}
#msg
{
    color: white;
    background-color: #6e5d9b;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}